.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
.CheckoutSummary h1 {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .CheckoutSummary h1 {
    font-size: 2rem;
  }
}
